@import '../../constants/css.scss';

.wrapper {
  width: 100%;
  height: 100%;
  background: $appPageBackground;
  padding: 0 40px;
}

.mainTitle {
  margin: 16px 0 20px 0;
  text-align: center;
}

.subTitle {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.noFilesFound {
  margin: 40px 0;
}

.uploadError {
  color: red;
  margin-top: 10px;
}

.fileInput {
  margin: 20px 0;
}

.fileItem {
  margin-bottom: 10px;
  padding: 10px 20px;
  border: 1px solid $fileItemBorderColor;
  border-radius: 10px;
  background-color: $fileItemBackgroundColor;
}

.fileName {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 20px;
}

.progressBarContainer {
  width: 100%;
  background-color: #f3f3f3;
  height: 10px;
  border-radius: 5px;
  margin-top: 5px;
}

.progressBar {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
  transition: width 0.3s ease;
}

.progressText {
  margin-top: 5px;
  font-size: 14px;
  color: #555;
}

.loader {
  margin: 40px 20px;
}
