$primaryBackground: linear-gradient(90deg, #cbdbf3, #89b6ff);

$loginPageBackground: linear-gradient(90deg, #cbdbf3, #89b6ff);

$authFormBackgroundColor: white;
$authFormBoxShadowColor: rgba(0, 0, 0, 0.1);
$authFormHeaderColor: #232836;
$authFormPasswordEyeIconColor: #8b8b8b;
$authFormSubmitButtonColor: #fff;
$authFormSubmitButtonBackgroundColor: #3466f0;
$authFormSubmitButtonBackgroundHoverColor: #6c8de8;
$authFormInputBorderColor: #cacaca;
$authFormErrorInputBorderColor: red;
$authFormErrorTextColor: red;
$authFormDontHaveAnAccountTextColor: #232836;
$authFormDontHaveAnAccountButtonColor: #3466f0;
$authFormPasswordValidationHintColor: #6c757d;
$authFormPasswordValidationHintValidColor: green;
$authFormPasswordValidationHintInvalidColor: red;

$headerBackgroundBeforeLogin: linear-gradient(90deg, #cbdbf3, #89b6ff);
$headerBackgroundAfterLogin: #fafafa;
$headerAvatarTextColor: white;
$headerAvatarBackgroundColor: #3466f0;
$headerDropdownBackgroundColor: #b1c4f7;
$headerDropdownBorderColor: #ccc;
$headerLogoutButtonColor: red;
$headerLogoutButtonBackground: transparent;

$appPageBackground: #fafafa;

$sizeMd: 601px;
$sizeLg: 1025px;
$sizeXl: 1441px;
